.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
h3,
h4,
span {
  font-size: 1.5vw;
}
#hero-section {
  position: relative;
}
.langauges {
  width: fit-content;
  position: absolute;
  top: 0;
  right: 1.2vw;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  /*hide the native button*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#music {
  position: fixed;
  top: 0;
  left: 20vw;
}
select::-ms-expand {
  display: none;
}
/*----*/
.langauges:focus {
  outline: none;
}

figure {
  margin-top: 1vh;
  width: 60%;
  aspect-ratio: 1/1;
  height: fit-content;
  background-image: linear-gradient(
    to left bottom,
    #ffffff,
    #b27937,
    #8e5335,
    #62352e09,
    #341d1fec,
    #000000fa
  );
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(50% at 50% 50%);
  overflow: hidden;
  -webkit-animation: scale-in-hor-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    2s both;
  animation: scale-in-hor-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}
figure > img {
  clip-path: circle(50% at 50% 50%);
  width: 90%;
  aspect-ratio: 1/1;
  background-color: #3b3b3b;
  transition: all 1s ease-in-out;
}
.navigation-side-bar-styles:hover figure > img {
  cursor: pointer;
  transform: scale(1.4);
}
.tech-list {
  width: 100%;
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tech-list > img {
  width: 10%;
  aspect-ratio: 1/1;
}
#SKILLS ul {
  margin-top: 2vw;
  margin-left: 1vw;
  list-style: none;
  color: #000000a2;
}
#SKILLS ul > li > i {
  margin-right: 2vw;
  position: relative;
}
.fa-did-not-work > img {
  width: 1.8vw;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
}

nav ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.social-media-links {
  width: 25%;
  margin: 10vw auto;
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: rgb(207, 181, 59);
  font-size: 1.8vw;
}
a > img {
  width: 3vw;
  aspect-ratio: 1/1;
  transition: all 0.5s ease-out;
}
a > img:hover {
  transform: scale(1.2);
}
a > img:active {
  transform: scale(0.5);
}
nav ul > li {
  font-weight: bold;
  transition: all 0.5s ease-out;
}
nav ul > li:hover {
  cursor: pointer;
  transform: scale(1.2);
}
nav ul > li:active {
  transform: scale(0.2);
}
.navigation-side-bar-styles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  background-image: linear-gradient(
      to left bottom,
      #ffffff00,
      #b9b9b93b,
      #777777c0,
      #3b3b3bbd,
      #000000d3
    ),
    url("https://firebasestorage.googleapis.com/v0/b/my-picture-829e6.appspot.com/o/david-one.jpeg?alt=media&token=9fdd0c0b-8893-4f92-98e5-6339c62eb386");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: swing-in-left-fwd 1s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-left-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.Portfolio-content-styles {
  width: 80vw;
  overflow: auto;
  scroll-behavior: smooth;
  max-height: 100vh;
  background-image: radial-gradient(
      circle,
      #ffffffb4,
      #ffffffad,
      #ffffffc5,
      #ffffff,
      #ffffff
    ),
    url("https://firebasestorage.googleapis.com/v0/b/my-picture-829e6.appspot.com/o/david-two.jpeg?alt=media&token=7e20b848-32bd-481b-bb10-b307192eb6b6");
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  width: 100%;
  height: 50vh;
}
h1 {
  font-size: 5vw;
  color: rgba(0, 0, 0, 0.712);
}
.typewriter {
  margin-top: 25px;
  padding: 10% 18% 0 10%;
}
.typewriter-subtitle {
  margin-top: 0px;
  padding-left: 20%;
  padding-right: 44%;
}
.typewriter h1 {
  font-weight: bold;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgba(0, 0, 0, 0.712); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 1.1s step-end infinite;
}
.typewriter-subtitle h1 {
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.342);
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    3s both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 3s both;
}
h2 {
  color: rgb(207, 181, 59);
  font-size: 3vw;
  margin-bottom: 4vw;
}
p {
  line-height: 2vw;
  color: #000000af;
  font-size: 1.5vw;
}
.content-sections {
  padding: 5vw;
  border-top: 2px solid rgba(207, 180, 59, 0.267);
}
.container-insub-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
h4 {
  color: #000000a2;
}
.university-logo {
  width: 10vw;
  margin: 0 2vw 0 0;
}
#rwd-certif {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/my-picture-829e6.appspot.com/o/RWD.PNG?alt=media&token=237648c0-a997-4d26-aaf0-dea5be29ca9b");
}
#rwd-certif:hover {
  background-image: linear-gradient(
      to top,
      #000000d0,
      #3a393a8f,
      #72737559,
      #afb3b575,
      #f1f8f756
    ),
    url("https://firebasestorage.googleapis.com/v0/b/my-picture-829e6.appspot.com/o/RWD.PNG?alt=media&token=237648c0-a997-4d26-aaf0-dea5be29ca9b");
}
#js-certif {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/my-picture-829e6.appspot.com/o/js.jpg?alt=media&token=6c52e510-c79a-48ff-922b-f9dfe0aea742");
}
#js-certif:hover {
  background-image: linear-gradient(
      to top,
      #000000d0,
      #3a393a8f,
      #72737559,
      #afb3b575,
      #f1f8f756
    ),
    url("https://firebasestorage.googleapis.com/v0/b/my-picture-829e6.appspot.com/o/js.jpg?alt=media&token=6c52e510-c79a-48ff-922b-f9dfe0aea742");
}
#fe-certif {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/my-picture-829e6.appspot.com/o/front.PNG?alt=media&token=5b649498-c52e-422f-a8d5-338ec5d47c56");
}
#fe-certif:hover {
  background-image: linear-gradient(
      to top,
      #000000d0,
      #3a393a8f,
      #72737559,
      #afb3b575,
      #f1f8f756
    ),
    url("https://firebasestorage.googleapis.com/v0/b/my-picture-829e6.appspot.com/o/front.PNG?alt=media&token=5b649498-c52e-422f-a8d5-338ec5d47c56");
}
.certificate {
  width: 40%;
  aspect-ratio: 1/0.7;
  border: 3px solid rgba(0, 0, 0, 0.192);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2vw;
  transition: all 0.5s ease-in-out;
  box-shadow: -8px 11px 20px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 11px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 11px 20px -10px rgba(0, 0, 0, 0.75);
}
.certificate:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.certificate:hover .redirection-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.redirection-button {
  display: none;
  background-color: white;
  color: #000000a2;
  width: 60%;
  border-radius: 3vw;
  padding: 0.5vw;
  font-size: 1.2vw;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.redirection-button:hover {
  background-color: rgba(128, 128, 128, 0.959);
  color: white;
}
.redirection-button:active {
  transform: scale(0.8);
}
.redirection-button .icon-redirection {
  width: 10%;
  aspect-ratio: 1/1;
  display: inline-block;
}
.Field-for-certificate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.info-contact {
  margin: 2vw 0;
  display: block;
}

#list-of-services li {
  margin-bottom: 2vw;
}

address {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
address img {
  width: 10vw;
  aspect-ratio: 1/1;
}
address div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*mobile LAYOUT */

@media (max-width: 1066px) {
  .App {
    flex-direction: column;
  }
  .fa-did-not-work > img {
    width: 2.1vw;
    bottom: 0.2vw;
  }
  #SKILLS ul > li > i {
    margin-right: 3vw;
    position: relative;
  }
  #SKILLS ul > li {
    margin-bottom: 2vw;
  }
  p {
    line-height: 3vw;
    color: #000000c4;
    font-size: 1.5vw;
  }
  figure {
    display: none;
  }
  .navigation-side-bar-styles {
    width: 100vw;
    height: fit-content;
    padding: 2vw;
    background-image: radial-gradient(
      circle,
      #000000,
      #1b1b1b,
      #2e2e2e,
      #444444,
      #5a5a5a
    );
  }
  nav ul {
    height: fit-content;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  nav {
    height: fit-content;
  }
  .Portfolio-content-styles {
    width: 100vw;
    height: fit-content;
    max-height: none;
  }
  .social-media-links {
    width: 30%;
  }
  .icon-for-media > img {
    width: 30px;
  }
  .tech-list {
    flex-wrap: wrap;
  }
  .tech-list > img {
    margin: 1vw;
    min-width: 30px;
    width: 10%;
    aspect-ratio: 1/1;
  }
  #list-of-services > li {
    font-size: 1.2vw;
  }
  .typewriter {
    padding: 10% 30% 0 10%;
  }
}
.topbtnk {
  position: fixed;

  right: 5px;
  bottom: 0px;
  /* margin-top: -5rem; */
  /* padding: 1rem; */
  margin-bottom: 2px;
  bottom: 800px;
  border: none;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
}
.topbtnk img {
  width: 40px;
  height: 40px;
}

.topbtnk.active {
  right: 3vw;
  bottom: 3vw;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1060px) {
  #music {
    position: fixed;
    width: 30vw;
    top: 11vw;
    left: 2vw;
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(0, 0, 0, 0.486);
  }
}

/* entrances animation */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
